<a href="https://colab.research.google.com/github/Muhammadowais511/Lacture-5-About-pythone-and-its-functions/blob/main/Copy_of_Python_Project_for_Portfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("My Name Is Owais")

My Name Is Owais

In [ ]:
Name = "Owais"
City = "Karachi"
Age  =  27

In [ ]:
print (Name)
print (City)
print (Age)

Owais
Karachi
27

In [ ]:
print ("My Name Is" , Name , "and I Am" , Age , "Years old")

My Name Is Owais and I Am 27 Years old

In [ ]:
Arithmetic Operators

In [ ]:
A = 10
B = 3

In [ ]:
print (A+B)
print (A-B)
print (A*B)
print (A/B)
print (A%B)
print (A**B)
print (A//B)

13
7
30
3.3333333333333335
1
1000
3

In [ ]:
Shortcuts For Operators

In [ ]:
A += 23

In [ ]:
print (A)

33

In [ ]:
if/else (Decision Making)

In [ ]:
Marks = 75
if Marks >= 50:
   print ("Pass")
else:
   print ("Fail")

Pass

In [ ]:
elif

In [ ]:
Marks = 85
if Marks >= 90:
   print ("Grade A+")

elif Marks >= 80:
   print ("Grade A")

elif Marks >= 70:
   print ("Grade B")

else:
   print ("fail")

Grade A

In [ ]:
Some More Functions Of Python

In [ ]:
A = """ I am using google colab for practicing python
and I have learned so many functions of python for learning AI."""

In [ ]:
print (A)

 I am using google colab for practicing python
and I have learned so many functions of python for learning AI.

In [ ]:
print (A.upper())

 I AM USING GOOGLE COLAB FOR PRACTICING PYTHON
AND I HAVE LEARNED SO MANY FUNCTIONS OF PYTHON FOR LEARNING AI.

In [ ]:
print (A.lower())

 i am using google colab for practicing python
and i have learned so many functions of python for learning ai.

In [ ]:
print (A.strip())

I am using google colab for practicing python
and I have learned so many functions of python for learning AI.

In [ ]:
print (A.replace ("u" , "v"))

 I am vsing google colab for practicing python
and I have learned so many fvnctions of python for learning AI.

In [ ]:
print (A.split (","))

[' I am using google colab for practicing python\nand I have learned so many functions of python for learning AI.']

In [ ]:
List

In [ ]:
X = [ 1 , "A" , "Banana" , "Tomato" ]

In [ ]:
print (X)

[1, 'A', 'Banana', 'Tomato']

In [ ]:
X.append ("Tomato")

In [ ]:
print (X)

[1, 'A', 'Banana', 'Tomato', 'Tomato']

In [ ]:
print (X [3])

Tomato

In [ ]:
print (len(X))

5

In [ ]:
Tuple (Tuple is Unchangable)

In [ ]:
X = ( 1 , "A" , "Banana" , "Tomato" )

In [ ]:
print (X)

(1, 'A', 'Banana', 'Tomato')

In [ ]:
Tuple (One Item)

In [ ]:
Z = ("Pomegranate",)

In [ ]:
print (Z)

('Pomegranate',)

In [ ]:
Python Sets

In [ ]:
X = { 1 , "A" , "Banana" , "Tomato" , "Tomato" }

In [ ]:
print (X)

{1, 'Banana', 'A', 'Tomato'}

In [ ]:
print (type(X))
print (type(Z))

<class 'set'>
<class 'tuple'>

In [ ]:
T = {"Job": "Teaching", "Department": "FOA", "Branch": "Aqsa Branch",}

In [ ]:
print (T)

{'Job': 'Teaching', 'Department': 'FOA', 'Branch': 'Aqsa Branch'}

In [ ]:
print (T["Department"])

FOA

In [ ]:
Length Functions

In [ ]:

Name = "Owais"
print (len(Name))

5

In [ ]:
Data Type Checker

In [ ]:
Y = [ 1, 2, 3, ]

In [ ]:
print (type(Y))

<class 'list'>

In [ ]:
print (type(Z))

<class 'tuple'>

In [ ]:
Convert to string

In [ ]:
Age = 27

In [ ]:
print ("Age:" + str(Age))

Age:27

In [ ]:
U = [ 1 , 2 , 3 ]

In [ ]:
print (max(U))

3

In [ ]:
print (min(U))

1

In [ ]:
print (sum(U))

6

In [ ]:
print (sorted(U))

[1, 2, 3]

In [ ]:
Name = input ( "Enter your Name:")

Enter your Name:Owais

In [ ]:
print ("Hello" , Name)

Hello Owais

In [ ]:
E = -7
print (abs(-7))

7

In [ ]:
any

In [ ]:

U = 5 , 6 , 8
print (all(num >0 for num in U))

True

In [ ]:
enumerate()

In [ ]:

V = ["apple", "banana", "mango"]
for me , fruit in enumerate(V):
    print(me, fruit)

0 apple
1 banana
2 mango

In [ ]:
Filter

In [ ]:

nums = [1, 2, 3, 4]
even = filter(lambda x: x % 2 == 0, nums)
print(list(even))  # Output: [2, 4]

[2, 4]

In [ ]:
Map

In [ ]:
nums = [1, 2, 3]
squares = map(lambda x: x**2, nums)
print(list(squares))  # Output: [1, 4, 9]

[1, 4, 9]

In [ ]:
Pow

In [ ]:

print(pow(2, 3))       # Output: 8
print(pow(2, 3, 5))    # Output: 3 (8 % 5)

8
3

In [ ]:
Round

In [ ]:
print(round(3.14159, 2))  # Output: 3.14

3.14

In [ ]:
isinstance()

In [ ]:
x = 5
print(isinstance(x, int))  # Output: True

True